@charset 'utf-8';

html {
    font-family: "Noto Sans KR", sans-serif;
}

body {
    overflow-x: hidden;
    background: white;
    color: rgb(29, 29, 31);
    letter-spacing: -0.05em;
}
  
.section {
    position: relative;
    padding-top: 30vh;
    border: 1px solid black;
}

.middle-message {
     text-align: center;
     line-height: 1.5rem;
}

.message {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    height: 10em;
    font-size: 1.5rem;
    text-align: center;
    opacity: 0;
    font-weight: bold;
}


.message .main {
    font-size: 3rem;
}

.message.b {
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    height: 13vh;
    top: 70vh;
    color: white;
    width: 100%;
    max-width: 720px;
}

.sub {
    bottom: 0;
    font-weight: normal;
}

.sticky {
    display: none;
    position: fixed;
    left: 0;
    width: 100%;
}


#show-scene-0 #section-0 .sticky {
    display: block;
}

.sticky-canvas {
    top: 0;
    height: 100%;
}

.sticky canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
}

/* #video-canvas {
    position: absolute;
    opacity: 0;
} */

/* swiper */
.swiper {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 40px;
    background-color:darkslategrey;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    height: 500px;
    width: auto;
}

.swiper-slide img {
    display: block;
    height: 100%;
}

.swiper-pagination-bullet {
    background: gainsboro;
    width: .4rem;
    height: .4rem;
    border-radius: .4rem;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: lightyellow;
    width: 2rem;
    height: .4rem;
    border-radius: .4rem;
}
/*swiper end*/

#section-3 h1 {
    text-align: center;
}

@media (min-width: 1024px) {
    .message .main {
        font-size: 4rem;
    }

    .sub {
        font-size: 2rem;
    }

}